<script lang="ts" setup>
import {onMounted} from 'vue';
import {useRouter} from 'vue-router';
import {useAuthStore} from '~/store/auth.store';
import {useIsLoadingStore} from '~/store/loading.store';


interface MyCustomUser {
  id: number;
  name: string;
  email: string;
}

const authStore = useAuthStore();
const loadingStore = useIsLoadingStore();
const {post, get} = useApi();
const router = useRouter();
const {fetchAllWebsites} = useWebsite()

onMounted(async () => {
  loadingStore.set(true);
  try {
    const user = useSanctumUser<MyCustomUser>();
    await fetchAllWebsites();
    if (user.value) {
      authStore.set({
        companyId: user.value.email,
        name: user.value.name,
        status: true,
      });
    } else {
      router.push('/login');
    }
  } catch (error) {
    console.error('Error fetching user:', error);
    router.push('/login');
  } finally {
    loadingStore.set(false);
  }
});
</script>

<template>
  <LayoutLoader v-if="loadingStore.isLoading"/>
  <div v-else>
    <AdminDashboard>
      <slot/>
    </AdminDashboard>
  </div>
</template>
