<script setup lang="ts">
useSeoMeta({
  title: 'Autoteile 1190',
  description: '',
})
import {Activity, ArrowUpRight, CreditCard, DollarSign, Users} from 'lucide-vue-next';
import {Avatar, AvatarFallback, AvatarImage} from '~/components/ui/avatar';
import {Button} from '~/components/ui/button';
import {Card, CardContent, CardDescription, CardHeader, CardTitle} from '~/components/ui/card';
import {Table, TableBody, TableHead, TableHeader, TableRow} from '~/components/ui/table';
definePageMeta({
  middleware: ['sanctum:auth'],
});
</script>

<template>
  <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
      <Card class="col-span-1">
        <CardHeader class="flex flex-row items-center justify-between space-y-0 pb-2">
          <CardTitle class="text-sm font-medium">
            Total Revenue
          </CardTitle>
          <DollarSign class="h-4 w-4 text-muted-foreground"/>
        </CardHeader>
        <CardContent>
          <div class="text-2xl font-bold">
            $45,231.89
          </div>
          <p class="text-xs text-muted-foreground">
            +20.1% from last month
          </p>
        </CardContent>
      </Card>
      <Card class="col-span-1">
        <CardHeader class="flex flex-row items-center justify-between space-y-0 pb-2">
          <CardTitle class="text-sm font-medium">
            Subscriptions
          </CardTitle>
          <Users class="h-4 w-4 text-muted-foreground"/>
        </CardHeader>
        <CardContent>
          <div class="text-2xl font-bold">
            +2350
          </div>
          <p class="text-xs text-muted-foreground">
            +180.1% from last month
          </p>
        </CardContent>
      </Card>
      <Card class="col-span-1">
        <CardHeader class="flex flex-row items-center justify-between space-y-0 pb-2">
          <CardTitle class="text-sm font-medium">
            Sales
          </CardTitle>
          <CreditCard class="h-4 w-4 text-muted-foreground"/>
        </CardHeader>
        <CardContent>
          <div class="text-2xl font-bold">
            +12,234
          </div>
          <p class="text-xs text-muted-foreground">
            +19% from last month
          </p>
        </CardContent>
      </Card>
      <Card class="col-span-1">
        <CardHeader class="flex flex-row items-center justify-between space-y-0 pb-2">
          <CardTitle class="text-sm font-medium">
            Active Now
          </CardTitle>
          <Activity class="h-4 w-4 text-muted-foreground"/>
        </CardHeader>
        <CardContent>
          <div class="text-2xl font-bold">
            +573
          </div>
          <p class="text-xs text-muted-foreground">
            +201 since last hour
          </p>
        </CardContent>
      </Card>
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 mt-4">
      <!-- Transactions table spans 2 columns on larger screens -->
      <Card class="xl:col-span-2">
        <CardHeader class="flex flex-row items-center">
          <div class="grid gap-2">
            <CardTitle>Transactions</CardTitle>
            <CardDescription>
              Recent transactions from your store.
            </CardDescription>
          </div>
          <Button as-child size="sm" class="ml-auto gap-1">
            <a href="#">
              View All
              <ArrowUpRight class="h-4 w-4"/>
            </a>
          </Button>
        </CardHeader>
        <CardContent>
          <Table>
            <TableHeader>
              <TableRow>
                <TableHead>Customer</TableHead>
                <TableHead class="hidden xl:table-cell">
                  Type
                </TableHead>
                <TableHead class="hidden xl:table-cell">
                  Status
                </TableHead>
                <TableHead class="hidden xl:table-cell">
                  Date
                </TableHead>
                <TableHead class="text-right">
                  Amount
                </TableHead>
              </TableRow>
            </TableHeader>
            <TableBody>
              <!-- Rows here -->
              <!-- Repeat TableRow components as needed -->
            </TableBody>
          </Table>
        </CardContent>
      </Card>
      <!-- Recent Sales card -->
      <Card>
        <CardHeader>
          <CardTitle>Recent Sales</CardTitle>
        </CardHeader>
        <CardContent class="grid gap-8">
          <div class="flex items-center gap-4">
            <Avatar class="hidden h-9 w-9 sm:flex">
              <AvatarImage src="/avatars/01.png" alt="Avatar"/>
              <AvatarFallback>OM</AvatarFallback>
            </Avatar>
            <div class="grid gap-1">
              <p class="text-sm font-medium leading-none">
                Olivia Martin
              </p>
              <p class="text-sm text-muted-foreground">
                olivia.martin@email.com
              </p>
            </div>
            <div class="ml-auto font-medium">
              +$1,999.00
            </div>
          </div>
        </CardContent>
      </Card>
    </div>
  </main>
</template>
