<script setup lang="ts">
interface LoginData {
  email: string;
  password: string;
}

import {ref} from "vue";
import {useRouter} from "vue-router";
import {useAuthStore} from "~/store/auth.store";
import {useIsLoadingStore} from "~/store/loading.store";
import {Button} from '@/components/ui/button'
import {Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle} from '@/components/ui/card'
import {Input} from '@/components/ui/input'
import {Label} from '@/components/ui/label'

const {login} = useSanctumAuth();

definePageMeta({
  layout: "auth",
  middleware: ['sanctum:guest'],
});

useSeoMeta({
  title: "Login",
  description: "Login page",
});

const isLoadingStore = useIsLoadingStore();

const companyId = ref("");
const password = ref("");

const handleLogin = async () => {
  const userCredentials: LoginData = {
    email: companyId.value,
    password: password.value,
  }
  isLoadingStore.set(true);
  try {
    await login(userCredentials);
  } catch (error) {
    console.error(error);
  }finally {
    isLoadingStore.set(false);
  }
}
</script>

<template>
  <Card class="w-full max-w-sm">
    <CardHeader>
      <CardTitle class="text-2xl">
        {{ $t('login') }}
      </CardTitle>
      <CardDescription>
        {{ $t('loginTitle') }}
      </CardDescription>
    </CardHeader>
    <CardContent class="grid gap-4">
      <div class="grid gap-2">
        <Label for="email">{{ $t('companyId') }}</Label>
        <Input v-model="companyId" id="email" type="email" placeholder="valentin@example.com" required/>
      </div>
      <div class="grid gap-2">
        <Label for="password">{{ $t('password') }}</Label>
        <Input v-model="password" id="password" type="password" required/>
      </div>
    </CardContent>
    <CardFooter>
      <Button class="w-full" @click="handleLogin">
        {{ $t('signIn') }}
      </Button>
    </CardFooter>
  </Card>
</template>
