<script setup lang="ts">

import {CircleUser, Home, LineChart, Package, Package2, PanelLeft, Search, ShoppingCart, Users2} from "lucide-vue-next";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator
} from "~/components/ui/breadcrumb";
import {
  DropdownMenu,
  DropdownMenuContent, DropdownMenuItem,
  DropdownMenuLabel,
  DropdownMenuSeparator,
  DropdownMenuTrigger
} from "~/components/ui/dropdown-menu";
import {Sheet, SheetContent, SheetTrigger} from "~/components/ui/sheet";
import {Input} from "~/components/ui/input";
import {Button} from "~/components/ui/button";
import {useRouter} from "vue-router";
import {useAuthStore} from "~/store/auth.store";

const authStore = useAuthStore();
const { setLocale } = useI18n();
const { logout } = useSanctumAuth();
const router = useRouter();

const handleLogout = async () => {
  await logout();
  authStore.clear();
  router.push('/login');
};
</script>

<template>
  <header
      class="sticky top-0 z-30 flex h-14 items-center gap-4 border-b bg-background px-4 sm:static sm:h-auto sm:border-0 sm:bg-transparent sm:px-6">
    <Sheet>
      <SheetTrigger as-child>
        <Button size="icon" variant="outline" class="sm:hidden">
          <PanelLeft class="h-5 w-5"/>
          <span class="sr-only">Toggle Menu</span>
        </Button>
      </SheetTrigger>
      <SheetContent side="left" class="sm:max-w-xs">
        <nav class="grid gap-6 text-lg font-medium">
          <a
              href="#"
              class="group flex h-10 w-10 shrink-0 items-center justify-center gap-2 rounded-full bg-primary text-lg font-semibold text-primary-foreground md:text-base"
          >
            <Package2 class="h-5 w-5 transition-all group-hover:scale-110"/>
            <span class="sr-only">Acme Inc</span>
          </a>
          <a
              href="#"
              class="flex items-center gap-4 px-2.5 text-muted-foreground hover:text-foreground"
          >
            <Home class="h-5 w-5"/>
            Dashboard
          </a>
          <a
              href="#"
              class="flex items-center gap-4 px-2.5 text-foreground"
          >
            <ShoppingCart class="h-5 w-5"/>
            {{ $t('orders') }}
          </a>
          <a
              href="#"
              class="flex items-center gap-4 px-2.5 text-muted-foreground hover:text-foreground"
          >
            <Package class="h-5 w-5"/>
            {{ $t('products') }}
          </a>
          <a
              href="#"
              class="flex items-center gap-4 px-2.5 text-muted-foreground hover:text-foreground"
          >
            <Users2 class="h-5 w-5"/>
            {{ $t('customers') }}
          </a>
          <a
              href="#"
              class="flex items-center gap-4 px-2.5 text-muted-foreground hover:text-foreground"
          >
            <LineChart class="h-5 w-5"/>
            {{ $t('settings') }}
          </a>
        </nav>
      </SheetContent>
    </Sheet>
    <Breadcrumb class="hidden md:flex">
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink as-child>
            <a href="#">{{ $t('dashboard') }}</a>
          </BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator/>
        <BreadcrumbItem>
          <BreadcrumbLink as-child>
            <a href="#">{{ $t('orders') }}</a>
          </BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator/>
        <BreadcrumbItem>
          <BreadcrumbPage>{{ $t('recentOrders') }}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>
    <div class="flex justify-between">
      <button @click="setLocale('en')" class="mr-1">en</button>
      <button @click="setLocale('de')">de</button>
    </div>
    <div class="relative ml-auto flex-1 md:grow-0">

    </div>
    <DropdownMenu>
      <DropdownMenuTrigger as-child>
        <Button variant="secondary" size="icon" class="rounded-full">
          <CircleUser class="h-5 w-5"/>
          <span class="sr-only">Toggle user menu</span>
        </Button>
      </DropdownMenuTrigger>
      <DropdownMenuContent align="end">
        <DropdownMenuLabel>{{ authStore.user.name }}</DropdownMenuLabel>
        <DropdownMenuSeparator/>
        <DropdownMenuItem>{{ $t('settings')}}</DropdownMenuItem>
        <DropdownMenuItem>{{ authStore.user.companyId }}</DropdownMenuItem>
        <DropdownMenuSeparator/>
        <DropdownMenuItem @click="handleLogout">{{$t('logout')}}</DropdownMenuItem>
      </DropdownMenuContent>
    </DropdownMenu>
  </header>

</template>
