<script setup lang="ts">
</script>
<template>
  <div class="flex items-center justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="75" height="75">
      <path fill="none" d="M0 0h100v100H0z"></path>
      <path fill="none" stroke-linecap="round" stroke="#FF7700" stroke-width="7.5" transform-origin="center"
            d="M35 47.75V56m0-42v8.25m0 0a12.75 12.75 0 1 0 0 25.5 12.75 12.75 0 0 0 0-25.5Zm18.2 2.25L46 28.65M16.8 45.5 24 41.35m0-12.75L16.8 24.5m29.25 16.9 7.15 4.1">
        <animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2" values="0;-120" keyTimes="0;1"
                          keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform>
      </path>
      <path fill="none" stroke-linecap="round" stroke="#FF7700" stroke-width="7.5" transform-origin="center"
            d="M65 77.75V86m0-42v8.25m0 0a12.75 12.75 0 1 0 0 25.5 12.75 12.75 0 0 0 0-25.5Zm18.2 2.25-7.15 4.15M46.8 75.5l7.15-4.15m0-12.7L46.8 54.5m29.25 16.9 7.15 4.1">
        <animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2" values="0;120" keyTimes="0;1"
                          keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform>
      </path>
    </svg>

  </div>

</template>
