<script setup lang="ts">
import { MENU_DATA} from "~/components/layout/menu.data";
import { Tooltip, TooltipContent, TooltipProvider, TooltipTrigger } from "~/components/ui/tooltip";

const { main: mainMenuItems, settings: settingsMenuItems } = MENU_DATA;
</script>

<template>
  <aside class="fixed inset-y-0 left-0 z-10 hidden w-14 flex-col border-r bg-background sm:flex">
    <nav class="flex flex-col items-center gap-4 px-2 sm:py-5">
      <TooltipProvider>
        <div v-for="(item, i) in mainMenuItems" :key="i">
          <Tooltip>
            <TooltipTrigger as-child>
              <NuxtLink
                  :to="item.url"
                  class="flex h-9 w-9 items-center justify-center rounded-lg text-muted-foreground transition-colors hover:text-foreground md:h-8 md:w-8"
              >
                <component :is="item.icon" class="h-5 w-5"/>
                <span class="sr-only">{{ $t(item.name) }}</span>
              </NuxtLink>
            </TooltipTrigger>
            <TooltipContent side="right">
              {{ $t(item.tooltip) }}
            </TooltipContent>
          </Tooltip>
        </div>
      </TooltipProvider>
    </nav>
    <nav class="mt-auto flex flex-col items-center gap-4 px-2 sm:py-5">
      <TooltipProvider>
        <div v-for="(item, i) in settingsMenuItems" :key="i">
          <Tooltip>
            <TooltipTrigger as-child>
              <NuxtLink
                  :to="item.url"
                  class="flex h-9 w-9 items-center justify-center rounded-lg text-muted-foreground transition-colors hover:text-foreground md:h-8 md:w-8"
              >
                <component :is="item.icon" class="h-5 w-5"/>
                <span class="sr-only">{{ $t(item.name) }}</span>
              </NuxtLink>
            </TooltipTrigger>
            <TooltipContent side="right">
              {{ $t(item.tooltip) }}
            </TooltipContent>
          </Tooltip>
        </div>
      </TooltipProvider>
    </nav>
  </aside>
</template>
