<script setup lang="ts">
useSeoMeta({
  title: 'Analytics',
  description: 'Track your store\'s performance',
})
</script>

<template>
  <main class="flex flex-1 flex-col gap-4 p-4 lg:gap-6 lg:p-6">
    <div class="flex items-center">
      <h1 class="text-lg font-semibold md:text-2xl">
        Analytics
      </h1>
    </div>
    <div class="flex flex-1 items-center justify-center rounded-lg border border-dashed shadow-sm">
      <div class="flex flex-col items-center gap-1 text-center">
        <h3 class="text-2xl font-bold tracking-tight">
          You have no analytics
        </h3>
        <p class="text-sm text-muted-foreground">
          You can start tracking your store's performance as soon as you have some data.
        </p>
        <Button class="mt-4">
          View Analytics
        </Button>
      </div>
    </div>
  </main>
</template>
