<script setup lang="ts">
useSeoMeta({
  title:'Customers',
  description: 'Manage your customers',
})
</script>

<template>
  <div>
    <h1>Customers</h1>
  </div>
</template>

<style scoped>

</style>