<script setup lang="ts">
import {ref} from 'vue';
import {Alert, AlertDescription, AlertTitle} from '~/components/ui/alert';
import {useErrorStore} from '~/store/error.store';
import {useWebsiteStore} from '~/store/website.store';

useSeoMeta({
  title: 'Settings',
  description: 'Manage your settings',
})

interface Website {
  url: string;
  requires_login: boolean;
  username: string | null;
  password: string | null;
}

// State variables
const newWebsiteUrl = ref('');
const username = ref('');
const password = ref('');
const requiresLogin = ref<boolean>(false);
const errorStore = useErrorStore();
const websiteStore = useWebsiteStore();
const currentWebsites = computed(() => websiteStore.websites);
const {addWebsite, deleteWebsite, updateWebsite} = useWebsite();
// Function to add a new website
const handleAddingSuplier = async () => {
  const newWebsite = <Website>{
    url: newWebsiteUrl.value,
    requires_login: requiresLogin.value,
    username: requiresLogin.value ? username.value : null,
    password: requiresLogin.value ? password.value : null,
  };
  await addWebsite(newWebsite);
  newWebsiteUrl.value = '';
  requiresLogin.value = false;
  username.value = '';
  password.value = '';
};
const handleDelete = async (id: number) => {
  await deleteWebsite(id);
};
const handleUpdate = async (website: Website, id: number) => {
  await updateWebsite(website, id);
};
</script>

<template>
  <main class="flex min-h-[calc(100vh_-_theme(spacing.16))] flex-1 flex-col gap-4 bg-muted/40 p-4 md:gap-8 md:p-10">
    <div class="mx-auto grid w-full max-w-6xl gap-2">
      <h1 class="text-3xl font-semibold">
        Settings
      </h1>
    </div>
    <div class="mx-auto grid w-full max-w-6xl items-start gap-6 md:grid-cols-[180px_1fr] lg:grid-cols-[250px_1fr]">
      <nav class="grid gap-4 text-sm text-muted-foreground">
        <a href="#" class="font-semibold text-primary">
          {{ $t('websites for search') }}
        </a>
      </nav>
      <div class="grid gap-6">
        <Card>
          <CardHeader>
            <CardTitle>{{ $t('Add new suppliers') }}</CardTitle>
            <CardDescription>
              {{ $t('supplierCardDescription') }}
            </CardDescription>
          </CardHeader>
          <CardContent>
            <form class="flex flex-col gap-4">
              <Input
                  v-model="newWebsiteUrl"
                  placeholder="Website URL"
              />
              <div class="flex items-center">
                <input
                    type="checkbox"
                    v-model="requiresLogin"
                    id="requiresLogin"
                    class="mr-2"
                />
                <label for="requiresLogin">{{ $t('Requires login') }}</label>
              </div>
              <div v-if="requiresLogin" class="flex flex-col gap-4">
                <Input
                    v-model="username"
                    placeholder="Username"
                />
                <Input
                    v-model="password"
                    type="password"
                    placeholder="Password"
                />
              </div>
            </form>
          </CardContent>
          <CardFooter class="border-t px-6 py-4">
            <Button @click="handleAddingSuplier">{{ $t('Save') }}</Button>
          </CardFooter>
        </Card>
        <div v-if="errorStore.error" class="mt-4 w-full">
          <Alert>
            <AlertTitle>{{ $t('Error') }}</AlertTitle>
            <AlertDescription>{{ errorStore.error }}</AlertDescription>
          </Alert>
        </div>
        <div v-if="Object.keys(errorStore.fieldErrors).length" class="mt-4 w-full">
          <Alert>
            <AlertTitle>{{ $t('Validation Errors') }}</AlertTitle>
            <AlertDescription>
              <ul>
                <li v-for="(messages, field) in errorStore.fieldErrors" :key="field">
                  <strong>{{ field }}:</strong>
                  <ul>
                    <li v-for="message in messages" :key="message">{{ message }}</li>
                  </ul>
                </li>
              </ul>
            </AlertDescription>
          </Alert>
        </div>
        <div class="grid gap-6 mt-6">
          <h2 class="text-xl font-semibold">{{ $t('Existing suppliers') }}</h2>
          <div v-if="currentWebsites.length" class="grid gap-4">
            <SuppliersTable :suppliers="currentWebsites" @deleteWebsite="handleDelete" @updateWebsite="handleUpdate"/>
          </div>
          <div v-else class="text-sm text-muted-foreground">
            {{ $t('No suppliers added yet') }}
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
