<script setup lang="ts">
interface Supplier {
  id: number
  url: String
  requires_login: boolean
  username: string | null
  password: string | null
}

defineProps({
  suppliers: {
    type: Array as () => Supplier[],
    default: () => []
  }
})
const emit = defineEmits(['deleteWebsite', 'updateWebsite']);

const editingSupplier = ref<Supplier | null>(null);
const handleDelete = async (id: number) => {
  emit('deleteWebsite', id);
}
const handleEdit = (supplier: Supplier) => {
  editingSupplier.value = {...supplier};
};
const saveEdit = () => {
  if (editingSupplier.value) {
    emit('updateWebsite', editingSupplier.value, editingSupplier.value.id);
    editingSupplier.value = null;
  }
};
const cancelEdit = () => {
  editingSupplier.value = null;
};
</script>

<template>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border rounded-lg">
      <thead class="bg-gray-100">
      <tr>
        <th class="text-left p-4 font-medium text-gray-600 uppercase">{{$t('supplier')}}</th>
        <th class="text-left p-4 font-medium text-gray-600 uppercase">{{ $t('actions')}}</th>
      </tr>
      </thead>
      <tbody>
      <tr
          v-for="supplier in suppliers"
          :key="supplier.id"
          class="border-b last:border-b-0"
      >
        <td class="p-4">
          <div v-if="editingSupplier && editingSupplier.id === supplier.id">
            <input
                v-model="editingSupplier.url"
                type="text"
                class="w-full p-2 border rounded mb-2"
                placeholder="Edit URL"
            />
            <div v-if="editingSupplier.requires_login" class="space-y-2">
              <input
                  v-model="editingSupplier.username"
                  type="text"
                  class="w-full p-2 border rounded"
                  placeholder="Edit Username"
              />
              <input
                  v-model="editingSupplier.password"
                  type="password"
                  class="w-full p-2 border rounded"
                  placeholder="Edit Password"
              />
            </div>
          </div>
          <div v-else>
              <span
                  class="cursor-pointer text-blue-500 hover:underline"
                  @click="handleEdit(supplier)"
              >
                {{ supplier.url }}
              </span>
          </div>
        </td>
        <td class="p-4">
          <div v-if="editingSupplier && editingSupplier.id === supplier.id">
            <Button @click="saveEdit" class="mr-2">{{$t('save')}}</Button>
            <Button @click="cancelEdit" variant="outline">{{$t('cancel')}}</Button>
          </div>
          <div v-else>
            <Button @click="handleEdit(supplier)" class="mr-2">{{$t('edit')}}</Button>
            <Button @click="handleDelete(supplier.id)" class="danger">{{ $t('delete')}}</Button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
