<script lang="ts" setup>
import {useWebsiteStore} from "~/store/website.store";

useSeoMeta({
  title: 'Products',
  description: 'Search for products',
});
import {ref} from 'vue';
import {Search} from "lucide-vue-next";
import {Input} from "~/components/ui/input";
import useApi from '~/composables/useApi';
import {useErrorStore} from "~/store/error.store";
import {Alert, AlertDescription, AlertTitle} from "~/components/ui/alert";

interface Product {
  title: string;
  price: string;
  availability: string;
  link: string;
}

const searchInput = ref('');
const {post} = useApi();
const products = ref<Product[]>([]);
const isLoading = ref(false);
const errorStore = useErrorStore();
const websiteStore = useWebsiteStore();
const allWebsitesForSearch = websiteStore.websites;
const selectedWebsites = ref<number[]>([]);

const handleSearch = async () => {
  errorStore.clear();
  isLoading.value = true;
  try {
    errorStore.clear();
    const data = await post('/search', {
      search: searchInput.value,
      websites: selectedWebsites.value
    });
    products.value = Array.isArray(data) ? data : [];
  } catch (error) {
    console.error('Error during search:', error);
    products.value = []; // Clear products if an error occurs
  } finally {
    isLoading.value = false;
  }
};

</script>

<template>
  <main class="flex flex-1 flex-col gap-4 p-4 lg:gap-6 lg:p-6">
    <div class="flex items-center justify-between mb-6">
      <h1 class="text-lg font-semibold md:text-2xl">
        {{ $t('products') }}
      </h1>
    </div>
    <div class="mb-6">
      <h2 class="text-lg font-semibold">{{ $t('selectWebsites') }}</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
        <label
            v-for="website in allWebsitesForSearch"
            :key="website.id"
            class="flex items-center space-x-3 bg-white border rounded-lg p-4 shadow-sm"
        >
          <input
              type="checkbox"
              :value="website.id"
              v-model="selectedWebsites"
              class="form-checkbox h-5 w-5 text-primary-600"
          />
          <span class="text-gray-700">{{ website.url }}</span>
        </label>
      </div>
    </div>
    <div class="relative flex flex-col items-center rounded-lg border border-dashed p-4 shadow-sm">
      <div class="flex justify-between items-center w-full space-x-4">
        <div class="relative w-full">
          <Search class="absolute left-2.5 top-1/2 transform -translate-y-1/2 h-4 w-4 text-muted-foreground"/>
          <Input
              v-model="searchInput"
              type="search"
              :placeholder="$t('search')"
              class="w-full pl-10"
          />
        </div>
        <Button class=" px-6" :disabled="isLoading || !selectedWebsites.length" @click="handleSearch">
          {{ $t('search') }}
        </Button>
      </div>

      <div v-if="Object.keys(errorStore.fieldErrors).length" class="mt-4 w-full">
        <Alert>
          <AlertTitle>{{ $t('Validation Errors') }}</AlertTitle>
          <AlertDescription>
            <ul>
              <li v-for="(messages, field) in errorStore.fieldErrors" :key="field">
                <strong>{{ field }}:</strong>
                <ul>
                  <li v-for="message in messages" :key="message" class="text-red-500">{{ message }}</li>
                </ul>
              </li>
            </ul>
          </AlertDescription>
        </Alert>
      </div>
      <div>
        <LayoutLoader v-if="isLoading" class="mt-4"/>
      </div>
      <div v-if="products.length && !isLoading" class="mt-6 w-full">
        <p class="text-lg font-semibold mb-4">{{ $t('searchResults') }} : {{ products.length }} </p>
        <div class="overflow-x-auto">
          <Table class="min-w-full bg-white shadow-md rounded-lg">
            <TableCaption>{{ $t('product search results') }}</TableCaption>
            <TableHeader>
              <TableRow class="bg-gray-100">
                <TableHead class="w-[200px] p-2 text-left text-sm font-medium text-gray-600 uppercase tracking-wider">
                  {{ $t('product name') }}
                </TableHead>
                <TableHead class="p-2 text-left text-sm font-medium text-gray-600 uppercase tracking-wider">
                  {{ $t('price') }}
                </TableHead>
                <TableHead class="p-2 text-left text-sm font-medium text-gray-600 uppercase tracking-wider">
                  {{ $t('availability') }}
                </TableHead>
              </TableRow>
            </TableHeader>
            <TableBody>
              <TableRow v-for="(product, index) in products" :key="index" class="hover:bg-gray-50 transition-colors">
                <TableCell class="p-2 text-blue-500 hover:underline">
                  <a :href="product.link" target="_blank">{{ product.title }}</a>
                </TableCell>
                <TableCell class="p-2">{{ product.price }}</TableCell>
                <TableCell class="p-2">
                  <span :class="product.availability === 'Auf Lager' ? 'text-green-600' : 'text-red-600'">
                    {{ product.availability }}
                  </span>
                </TableCell>
              </TableRow>
            </TableBody>
          </Table>
        </div>
      </div>
      <div v-if="!products.length && !isLoading">
        <p class="mt-4 text-lg font-semibold">{{ $t('noResults') }}</p>
      </div>
    </div>
  </main>
</template>